@model LoginModel

<div class="container login">
    <form asp-controller="Account" asp-action="Login" method="post">
        <partial name="_AuthenticationReturnUrlHidden" />
        <input asp-for="Username" placeholder="Username" autofocus />
        <input asp-for="Password" type="password" placeholder="Password" />

        <button type="submit">Sign in</button>
    </form>
</div>