@model LoginModel
@{ 
    ViewData["IsProfileListVisible"] = false;
    ViewData["Title"] = "Login";
}

<div class="container login">

    <form asp-controller="account" asp-action="login" method="post">
        <partial name="_AuthenticationReturnUrlHidden" />
        <input asp-for="Username" placeholder="Username" autofocus />
        <span asp-validation-for="Username" class="validation"></span>
        <input asp-for="Password" type="password" placeholder="Password" />
        <span asp-validation-for="Password" class="validation"></span>

        <button type="submit">Sign in</button>
    </form>
</div>