@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container container-narrow">
        <div class="login-info">
            <form asp-controller="Account" asp-action="Logout">
                Hi, <strong>@Context.User.Identity.Name</strong>!
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="clear"></div>
    </div>
}