<div id="upload-container" class="upload container container-draggable-only">
    <img src="~/images/files-lg.svg" width="204" height="52" />
    <h1>Drag &amp; drop files here</h1>
    <p class="clipboard">or paste them from clipboard</p>

    <div class="form">
        <form id="form" action="/" method="post">
            <input id="files" type="file" multiple="multiple" style="display: none;" />
            <button id="picker">Select Files</button>
        </form>
    </div>

    <div class="status">

    </div>
</div>
