@{
    ViewData["Title"] = "Home Page";
}

<form action="/" method="post">
    <input id="files" type="file" multiple="multiple" style="display: none;" />
    <button id="picker">Select Files</button>
</form>

<div class="up-status">

</div>

@section Scripts {
    <script>

        var Url = '@Url.Action("Upload", "Home")';

        var FileInput;
        var SelectButton;
        var Status;
        var CurrentFiles = [];
        var CurrentFileIndex = -1;

        function RenderFiles() {
            var content = "";
            for (var i = 0; i < CurrentFiles.length; i++) {
                var file = CurrentFiles[i];

                content += ""
                    + "<div data-file-index='" + i + "' class='up-file'>"
                        + "<div class='up-file-name'>" + file.name + "</div>"
                        + "<div class='up-file-progress'></div>"
                    + "</div>";
            }

            Status.innerHTML = content;
        }

        function UploadStep() {
            CurrentFileIndex++;
            if (CurrentFiles.length > CurrentFileIndex) {
                var progress = null;
                var container = Status.querySelector("[data-file-index='" + CurrentFileIndex + "']");
                if (container != null) {
                    container.classList.add("up-file-current");
                    progress = container.querySelector(".up-file-progress");
                }

                UploadFile(
                    CurrentFiles[CurrentFileIndex],
                    function (e) {
                        if (container != null) {
                            container.classList.remove("up-file-current");
                            container.classList.add("up-file-done");
                        }
                        UploadStep();
                    },
                    function (code, message) {
                        if (container != null) {
                            container.classList.remove("up-file-current");
                            container.classList.add("up-file-error");
                        }
                        UploadStep();
                    },
                    function (loaded, total) {
                        var percent = 100 / total * loaded;
                        progress.style.width = percent + "%";
                    }
                );
            }
            else {
                SelectButton.removeAttribute("disabled");
            }
        }


        FileInput = document.getElementById("files");
        FileInput.addEventListener("change", function (e) {
            SelectButton.setAttribute("disabled", "disabled");

            CurrentFiles = FileInput.files;
            CurrentFileIndex = -1;
            RenderFiles();
            UploadStep();
        });

        SelectButton = document.getElementById("picker");
        SelectButton.addEventListener("click", function (e) {
            FileInput.click();
            e.preventDefault();
        });

        Status = document.querySelector(".up-status");

    </script>
}