body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px; }

.up-status {
  width: 300px;
  margin-top: 10px; }

.up-file-name {
  margin-bottom: 5px; }

.up-file-progress {
  height: 2px; }

.up-file-current .up-file-name {
  font-weight: bold;
  color: #333; }

.up-file-current .up-file-progress {
  background-color: #333; }

.up-file-done .up-file-name {
  color: green; }

.up-file-done .up-file-progress {
  background-color: green; }

.up-file-error .up-file-progress {
  background-color: red; }

.up-file-error .up-file-name {
  color: red; }

