.clear {
  clear: both; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #686868;
  padding: 10px; }

.up-container {
  display: none; }

.up-container h1, .up-container img, .up-container p {
  display: none; }

.up-draggable .up-container {
  margin: 50px;
  padding: 50px;
  border: 1px dotted #686868;
  border-radius: 5px;
  background: #FAFBFC; }

.up-draggable .up-container h1 {
  display: block;
  text-align: center; }

.up-draggable .up-container img {
  display: block;
  margin: 0 auto; }

.up-draggable .up-container p {
  text-align: center; }

.up-draggable .up-form {
  width: 100px;
  margin: 0 auto; }

.up-draggable .up-form button {
  width: 100%;
  display: block;
  padding: 6px; }

.up-status {
  margin: 20px auto 0 auto; }

.up-file {
  margin-bottom: 10px; }

.up-file-name {
  margin-bottom: 5px;
  float: left; }
  .up-file-name a {
    text-decoration: none;
    color: unset; }

.up-file-state {
  float: right; }

.up-file-progress {
  height: 2px; }

.up-file-current .up-file-name, .up-file-current .up-file-state {
  font-weight: bold;
  color: #686868; }

.up-file-current .up-file-progress {
  background-color: #686868; }

.up-file-done .up-file-name, .up-file-done .up-file-state {
  color: green; }

.up-file-done .up-file-progress {
  background-color: green; }

.up-file-error .up-file-name, .up-file-error .up-file-state {
  color: red; }

.up-file-error .up-file-progress {
  background-color: red; }

.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.5; }

.browser table {
  border-spacing: unset; }
  .browser table th, .browser table td {
    padding: 4px 8px;
    border-bottom: 1px solid #ddd; }
  .browser table th {
    text-align: left;
    background: #ddd;
    border-bottom: 1px solid #686868; }
  .browser table tr:nth-child(2n + 1) td {
    background: #eee; }

@media (max-width: 430px) {
  .up-draggable .up-container {
    width: 200px;
    margin: 10px auto; } }

@media (max-width: 340px) {
  body {
    min-width: 220px;
    margin: 0;
    padding: 0; }
  .up-draggable .up-container {
    width: auto;
    margin: 0;
    padding: 10px;
    border: none; }
    .up-draggable .up-container h1 {
      font-size: 1.5em;
      margin-bottom: 0; }
    .up-draggable .up-container p {
      margin: 0.5em 0; } }

@media (max-width: 220px) {
  .version {
    position: static;
    bottom: auto;
    right: auto;
    float: right;
    margin: 5px 5px 0 0; } }
