.clear {
  clear: both; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #686868;
  padding: 10px; }

.up-container {
  display: none; }

.up-container h1, .up-container img {
  display: none; }

.up-draggable .up-container {
  margin: 50px;
  padding: 50px;
  border: 1px dotted #686868;
  border-radius: 5px;
  background: #FAFBFC; }

.up-draggable .up-container h1 {
  display: block;
  text-align: center; }

.up-draggable .up-container img {
  display: block;
  margin: 0 auto; }

.up-draggable .up-form {
  width: 100px;
  margin: 0 auto; }

.up-draggable .up-form button {
  width: 100%;
  display: block; }

.up-status {
  width: 500px;
  margin: 20px auto 0 auto; }

.up-file {
  margin-bottom: 10px; }

.up-file-name {
  margin-bottom: 5px;
  float: left; }

.up-file-state {
  float: right; }

.up-file-progress {
  height: 2px; }

.up-file-current .up-file-name, .up-file-current .up-file-state {
  font-weight: bold;
  color: #686868; }

.up-file-current .up-file-progress {
  background-color: #686868; }

.up-file-done .up-file-name, .up-file-done .up-file-state {
  color: green; }

.up-file-done .up-file-progress {
  background-color: green; }

.up-file-error .up-file-name, .up-file-error .up-file-state {
  color: red; }

.up-file-error .up-file-progress {
  background-color: red; }

