@media (max-width: 560px) {

    .browser {
        .file-size {
            display: none;
        }
    }
}

@media (max-width: 470px) {

    .browser {
        .file-modifiedat {
            display: none;
        }
    }
}

@media (max-width: 720px) {

    body {
        min-width: 220px;
        margin: 0;
        padding: 0;
    }

    .container {
        width: auto;
        margin: 0;
        padding: 10px;
        border: none;

        h1 {
            font-size: 1.5em;
            margin-bottom: 0;
        }

        p {
            margin: 0.5em 0;
        }
    }

    .version {
        position: static;
        bottom: auto;
        right: auto;
        float: right;
        margin: 5px 5px 0 0;
    }
}
