$successColor: green;
$errorColor: red;
$normalColor: #686868;

.clear {
    clear: both;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: $normalColor;
    padding: 10px;
}

.up-container {
    display: none;
}

.up-container h1, .up-container img, .up-container p {
    display: none;
}

.up-draggable {
    .up-container {
        margin: 50px;
        padding: 50px;
        border: 1px dotted $normalColor;
        border-radius: 5px;
        background: #FAFBFC;
    }

    .up-container h1 {
        display: block;
        text-align: center;
    }

    .up-container img {
        display: block;
        margin: 0 auto;
    }

    .up-container p {
        text-align: center;
    }

    .up-form {
        width: 100px;
        margin: 0 auto;
    }

    .up-form button {
        width: 100%;
        display: block;
        padding: 6px;
    }
}

.up-status {
    width: 500px;
    margin: 20px auto 0 auto;
}

.up-file {
    margin-bottom: 10px;
}

.up-file-name {
    margin-bottom: 5px;
    float: left;
}

.up-file-state {
    float: right;
}

.up-file-progress {
    height: 2px;
}

.up-file-current {
    .up-file-name, .up-file-state {
        font-weight: bold;
        color: $normalColor;
    }

    .up-file-progress {
        background-color: $normalColor;
    }
}

.up-file-done {
    .up-file-name, .up-file-state {
        color: $successColor;
    }

    .up-file-progress {
        background-color: $successColor;
    }
}

.up-file-error {
    .up-file-name, .up-file-state {
        color: $errorColor;
    }

    .up-file-progress {
        background-color: $errorColor;
    }
}