@model  BrowseViewModel
@{ 
    ViewData["Title"] = "Browser";
}

<div class="browser">
    <table>
        <tr>
            <th>Name</th>
            <th>Size</th>
        </tr>
        @foreach (var file in Model.Files)
        {
            <tr>
                <td>
                    <a href="@Model.GetFileUrl(file)" target="_blank">@file.Name</a>
                </td>
                <td>@file.Size B</td>
            </tr>
        }
    </table>
</div>