@model FileUpload.Web.UI.ViewModels.UploadIndexViewModel
@{
    ViewData["Title"] = "Upload";
}

@Model.UploadUrl

<div id="container" class="up-container">
    <img src="~/images/files-lg.svg" width="204" height="52" />
    <h1>Drag &amp; drop files here</h1>
    <p class="up-clipboard">or paste them from clipboard</p>

    <div class="up-form">
        <form id="form" action="/" method="post">
            <input id="files" type="file" multiple="multiple" style="display: none;" />
            <button id="picker">Select Files</button>
        </form>
    </div>

    <div class="up-status">

    </div>
</div>

<div class="version">@("v" + typeof(UploadOptions).Assembly.GetName().Version.ToString(3))</div>

@section Scripts {
<script>

    var Url = '/@Model.UploadUrl';
    Initialize();

</script>
}